body#body {
  background-color: black;
}
.show-preview {
  background-image: url(/media/background-netlfix.png);
  background-repeat: no-repeat;
  height: 535px;
  background-size: cover;
}
.navbar{
   background: transparent; 
}


.navbar ul li a:hover {
    background-color: transparent !important;
  text-decoration: underline !important;
}
.active {
    font-weight: 600 !important;
}
.fa-bell{
    color:white;
    font-size: 25px;
}
.navbar ul input{
    border:1px solid white !important;
    font-weight: 300 !important;
    color: white !important;
    font-size: 15px !important;
background-color: transparent !important;
box-shadow: none !important;
}
.fa-magnifying-glass{
    color: white;
    font-size: 20px;
}
